# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\developpement\dev\mvp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
